@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">The Bat Signal™© LLC</h1>
        <a class="navbar-brand" asp-area="" asp-controller="Requests" asp-action="Index" asp-route-batSheet="BatsheetIsTrue">Sign up to the Bat Sheet!</a>
        <a class="navbar-brand" asp-area="" asp-controller="Requests" asp-action="Index" asp-route-batSheet="TutoringIsTrue">Requests Tutoring!</a>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
